<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>    
    <add key="CloseTime" value="06:00" />
    <add key="ExeName" value="QTeam.dll" />
    <!--
    <add key="ExeName" value="QTeam.dll" />
    -->
    <!--測試 = 0, 正式 = 1-->
    <add key="IsDebug" value="false" />
    <!--
    <add key="updateURLDebug" value="https://gitlab.com/testprogramsgroup/monitorservice/-/raw/main/AutoUpdater.xml" />
    <add key="updateURLPM" value="https://gitlab.com/PMTradingSec/monitorservice/-/raw/main/AutoUpdater.xml" />
    -->   
    <add key="updateURLDebug" value="https://gitlab.com/testprogramsgroup/qteam/-/raw/main/AutoUpdater.xml" />
    <add key="updateURLPM" value="https://gitlab.com/PMTradingSec/qteam/-/raw/main/AutoUpdater.xml" />  
    <add key="MS" value="10000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoUpdater.NET" publicKeyToken="501435c91b35f4bc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.0" newVersion="1.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>